body {
    font-family: 'Comic Sans MS', cursive, sans-serif; /* Змінив шрифт для більшого веселощів */
    margin: 0;
    padding: 0;
}

header {
    background-color: #ff6f61; /* Вибрав яскравий колір */
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

main {
    max-width: 800px;
    margin: 30px auto;
    padding: 0 20px;
}

h1 {
    margin: 0;
    font-size: 2.5rem; /* Збільшив розмір заголовків */
    text-transform: uppercase; /* Перетворюємо заголовки великі літери */
    letter-spacing: 2px; /* Додав кернінг */
}

#array, #bubble-sort, #insertion-sort, #selection-sort, #merge-sort, #quick-sort {
    margin-bottom: 30px;
}

#original-array, #bubble-sort-steps, #insertion-sort-steps, #selection-sort-steps, #merge-sort-steps, #quick-sort-steps {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center; /* Центруємо елементи по горизонталі */
}

.element {
    background-color: #ffb3ff; /* Змінив колір елементів */
    border: 2px solid #ff6f61; /* Збільшив товщину рамки та змінив колір */
    padding: 10px; /* Збільшив відступи */
    border-radius: 50%; /* Округлив куты */
    font-size: 24px; /* Збільшив розмір шрифту */
    width: 40px;
    height: 40px; /* Додав висоту для коректного круглого відображення */
    text-align: center;
    line-height: 40px; /* Вирівняв текст по центру */
}

.sorted {
    background-color: #b3ffb3;
}

.active {
    background-color: #ffcc66;
}

#bubble-sort-steps-count, #insertion-sort-steps-count, #selection-sort-steps-count, #merge-sort-steps-count, #quick-sort-steps-count {
    width: 100%; /* Ширина на всю ширину блоку */
    text-align: center; /* Центруємо текст */
    margin-top: 10px; /* Збільшуємо відступи */
    font-size: 1.2rem; /* Змінюємо розмір тексту */
}
